
    	<script type='text/javascript'>
      	$(function myFunction() {
        	$('li').live('click', function(e) {
        	var widget = $(this).find('widget');
            var url = widget.data('url');
            window.open(url, '_blank', "width=900, height=900, scrollvars=yes, toolbar=yes, resizable=yes");
        	});
    	});
      	</script>

      	<div class="gridster">
        	<ul>

            <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" onClick="myFunction()">
               <div data-id="tile1" data-view="meter" data-unordered="true" data-title="title1" data-url="http://url1/" data-bind-style="status" style="style"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" onClick="myFunction()">
               <div data-id="tile2" data-view="meter" data-unordered="true" data-title="title2" data-url="http://url2/" data-bind-style="status" style="style"></div>
            </li>

         	</ul>
      	</div>
